.git
.github
.gitignore
meia/
README.md
LICENSE
.pre-commit-config.yaml
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.DS_Store
*.egg-info
dist/
build/
build.meia
Dockerfile
meia
README.md
torch_results.jpg
VERSION

